.a {
  grid-column: 1 / span 2;
  grid-template: "text" auto "meter" 1fr / 1fr;
}

.b {
  grid-column: 3 ;
  grid-row: 1 / span 2;
}

.c {
  grid-column: 1 ;
  grid-row: 2 ;
}

.d {
  grid-column: 2 ;
  grid-row: 2 ;
}